.card-holder {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.film-item {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.film-trailer-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;

  cursor: pointer;
  background-color: #6b0000;
  color: white;
  height: 30px;
  width: 30%;
  padding: 2px 6px;
}
.film-item-link {
  height: 100%;
  display: block;
  & h2 {
    font-size: 12px;
    text-transform: uppercase;
  }
  & p {
    font-size: 12px;
    color: orangered;
  }
}

.card-holder img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.trailer-player {
  border: none;
  max-width: 90vw;
  max-height: 50vw;
  border: none;
}
