.modal {
  z-index: 150;
  max-height: 100%;
  width: 320px;
  color: #000;
  opacity: 1;
  background-color: #fff;

  font-weight: 500;

  position: fixed;
  overflow-y: scroll;
}
.js-movie-modal-content {
  padding: 48px 20px 40px;
}
.modal::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.movie-modal-info {
  display: flex;
}
