.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-container svg {
  width: 30px;
  height: 30px;
}
.pagination__list {
  display: flex;
  gap: 8px;
  margin-inline: 16px;
  margin-block: 32px;
}
.pagination__item {
  padding: 8px 10px;
}
